:root {
    --primary-color: rgba(90, 71, 207, 1);
    --secondary-color-text: rgba(94, 0, 53, 1);
    --fade-color1: rgba(181, 170, 252, 1);
    --fade-color2: rgba(157, 142, 251, 1);
    --main-font: "Poppins", sans-serif;
 }
 
 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.getStarted
{
    background: var(--primary-color);
    height: 40px;
    text-transform: capitalize;
    font-family:var(--main-font);
    font-size: 20px;
    color: #f7f7f7;
    border-radius: 5px;
    width: 160%;
}
.nav-items
{
    height: 5em;
    display: flex;
    /* background: #040404; */
    justify-content: space-evenly;
    gap: 50%;
    align-items: center;
}
.nav-links
{
    width: 30%;
    /* background: #000; */
    display: flex;
    justify-content: space-around;
    gap: 8em;
    align-items: center;
}
/* hero */
.isHome-hero
{
    display: flex;
    /* background: #0e0e0e; */
    justify-content: center;
    gap: 30px;
    align-items: center;
    height: 70vh;
    margin: 2em;
}
.isHome-text h1
{
    margin: 0;
    font-family: var(--main-font);
    font-size: 50px;
}
.isHome-text
{
    width: 40%;
    background: #d7d7d750;
    padding: 20px;
    border-radius: 20px;
}
.isHome-text p
{
    font-size: 23px;
    color: #0e0e0e;
    margin-top: 30px;
}
.isHome-text span
{
    color: var(--fade-color2);
}
.img-side
{
    background: url(../../../public/assets/images/Hero\ image.jpg);
    height: 450px;
    width: 450px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}